.myAccount {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
}

.formRow {
	margin-bottom: 20px;
}

.formContainer {
	flex: 1;
	overflow-y: auto;
	width: 100%;
	overflow-x: hidden;
	max-width: 600px; /* Adjust the value as needed */
	margin: auto;
}

input.form-control {
	width: 100%; /* Make the input take the full width of its parent container */
	box-sizing: border-box; /* Include padding and border in the width */
}

.rightDiv {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-info {
	text-align: center;
}

.profilePicture {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 20px;
}
