.profile-container {
	display: flex;
	height: 85vh; /* Ensure the component takes up the full height of the viewport */
}

.sidebar {
	width: 25%; /* Take up a quarter of the screen */
	background-color: #f0f0f0;
	padding: 20px;
}

.option {
	cursor: pointer;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.option:hover,
.selected {
	background-color: #e0e0e0;
}

.main-content {
	flex: 1; /* Take up the remaining space */
	padding: 20px;
}
