.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minmax and breakpoints as needed */
    justify-content: center;
    padding: 50px;
    gap:50px;
}

.item-title:hover {
    text-decoration: underline !important;
    color: black !important;
}

.category {
    font-weight: normal !important;
}

.filter-container {
    border-right: 2px solid #E3E3E3;
}

.sidebar-dropdown {
    background-color: white !important;
    color: black !important;
    border: none !important;
}

.side-bar {
    border-right: 2px solid #E3E3E3;
}