.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 325px)); /* Adjust minmax and breakpoints as needed */
    justify-content: center;
    padding: 50px;
    gap:50px;
    margin: 0 auto;
}

.item-title:hover {
    text-decoration: underline !important;
    color: black !important;
}

.category {
    font-weight: normal !important;
}

.filter-container {
    border-right: 2px solid #E3E3E3;
}

.sidebar-dropdown {
    background-color: white !important;
    color: black !important;
    border: none !important;
    bottom: auto !important;
}

.side-bar {
    border-right: 2px solid #E3E3E3;
    height: 300px;
    display: block;
    overflow-x: hidden;
}

.dropdown-menu.show {
    border: none;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 600 !important;
}

.category {
    font-size: 20px !important;
    font-weight: 600 !important;
}
